@model Buddhism.Mvc.Common.PagedData<Buddhism.Domain.Security.User>
@{
    ViewBag.Title = "主页";
}
<p><button class="add-editor-dialog" action="/Home/Create">增加用户</button></p>
@using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId="data-show"}))
{
<div id="data-show">
    <div id="query">
        @Html.DropDownList("queryInfo.OrderBy",new []{
        new SelectListItem{Text="编号",Value="UserId"},
        new SelectListItem{Text="姓名",Value="UserName"}
   })
        <input type="submit" value="查询" />
    </div>
    <table class="table-list">
    <thead>
        <tr>
            <th>账号</th>
            <th>姓名</th>
            <th>密码</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserAccount</td>
                <td>@item.UserName</td>
                <td>@item.UserPassword</td>
                <td>
                    <a href="#" class="add-editor-dialog" action="/Home/Create/@item.UserId">修改</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    @Html.Pager(Model.Pager)
</div>
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".add-editor-dialog").live("click", function () {
                var url = $(this).attr("action");
                var title = $(this).text();
                $.ajax({
                    url: url,
                    type: 'GET',
                    datatype: 'html',
                    success: function (msg) {
                        $("<div id='add-dialog' title='"+title+"'>").html(msg).dialog({
                            autoOpen: true,
                            width: 350,
                            buttons: {
                                "确定": function () {
                                    $(this).find("form").submit();
                                    return false;
                                },
                                "取消": function () {
                                    $("#add-dialog").remove();
                                }
                            }
                        });
                    }
                })
            })
            $("form[class=formsubmit]").live("submit", function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: "post",
                    dataType: "json",
                    success: function (data) { 
                        if (data == true) {
                            alert("保存成功！");
                            form.parent("div").remove();
                        }
                        else {  //提示失败的原因  target:提示的位置， message:提示的消息    
                            alert("保存失败！");
                        }
                    },
                    error: function () {
                       
                    }
                });
                return false;
            })
        })
    </script>
    }